<div class="jumbotron center">
	<h1>Welcome!</h1>

	<% if user_signed_in? %>
		<br>
		<%= link_to "View your pins here", pins_path, class:"btn btn-primary btn-lg" %>

	<% else %>
		<p>A Pinterest clone built while following the <%= link_to "One Month Rails", "http://onemonthrails.com" %> Tutorial.</p>

	<%= link_to "Log In", new_user_session_path, class:"btn btn-default btn-lg" %>
	<%= link_to "Sign up", new_user_registration_path, class:"btn btn-primary btn-lg" %>
	<% end %>

</div>